<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!--<add name="local"
          connectionString="data source =localhost\SQLEXPRESS2019; initial catalog = labcore; user id = sa; password =12345;Connection Timeout=3600 "
          providerName="System.Data.SqlClient" />-->

    <add name="labcore" connectionString="data source =SERVIDORACT\LABCORE; initial catalog =labcore; user id = sa; password =1313;Connection Timeout=3600 "
      providerName="System.Data.SqlClient" />
    
    
    <!--<add name="labcore" connectionString="data source =localhost\SQLEXPRESS2019; initial catalog = labcore; user id = sa; password =12345"
          providerName="System.Data.SqlClient" />-->


  </connectionStrings>
  <appSettings>

    <!-- cadena para buscar los productos del LABORATORIO VIDATEC-->
    <add key="minsa_user" value="MARAUZ"/>
    <add key="minsa_PASS" value="MINSA2020"/>
    <add key="minsa_pagina" value="https://enterprise.minsa.gob.pa:7050/"/>
    <add key="minsa_pagina_ordenes" value="https://enterprise.minsa.gob.pa:7050/orderentry"/>

    <!--sp paar datos-->
    <add key="sp_datos_minsa" value="p_reporte_minsa"/>
    <!--<add key="sp_datos_minsa" value="p_reporte_minsa_desc"/>-->
    <add key="sp_quantity" value="30000"/>
    
    <!--datos para envío de correo-->
    <add key="Smtp_Server.User" value="notificaciones@cordondevida.net" />
    <add key="Smtp_Server.Pass" value="RgCdv#2019" />
    <add key="Smtp_Server.Port" value="587" />
    <add key="Smtp_Server.EnableSsl" value="True" />
    <add key="Smtp_Server.Host" value="correo.cordondevida.net" />
    <add key="e_mail.From" value="notificaciones@cordondevida.net" />
    <add key="buzon_alertas" value="sistemas@cordondevida.net " />
    
   
    
  </appSettings>
</configuration>