<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!--<add name="local"
          connectionString="data source =localhost\SQLEXPRESS2019; initial catalog = labcore; user id = sa; password =12345;Connection Timeout=3600 "
          providerName="System.Data.SqlClient" />-->

    <add name="labcore" connectionString="data source =SERVIDORACT\LABCORE; initial catalog =labcore; user id = sa; password =1313;Connection Timeout=3600 "
      providerName="System.Data.SqlClient" />
    
    
    <!--<add name="labcore" connectionString="data source =localhost\SQLEXPRESS2019; initial catalog = labcore; user id = sa; password =12345"
          providerName="System.Data.SqlClient" />-->


  </connectionStrings>
  <appSettings>

    <!-- cadena para buscar los productos del LABORATORIO VIDATEC-->
    <add key="minsa_user" value="MARAUZ"/>
    <add key="minsa_PASS" value="MINSA2020"/>
    
    
    <add key="oitm" value=" where ItemCode like 'LCL%' "/>
    <add key="oinv" value=" where o.docdate between '20190901' and '20191231' "/>
    <add key="inv1" value=" where o.docdate between '20190901' and '20191231' "/>
    <add key="orin" value=" where o.docdate between '20190901' and '20191231' "/>
    <add key="rin1" value=" where o.docdate between '20190901' and '20191231' "/>
    <add key="itm1" value=" where ItemCode like 'LCL%' "/>
    <add key="SapProveedor" value=" where CardCode like 'P-%' "/>
    <add key="ocrd" value=" where CardCode like 'LAB%' "/>

    <!--<add key="vTables" value="oitm, inv1"/>-->
    <!--<add key="vTables" value="ocrd,oslp"/>-->
    <!--<add key="vTables" value="oslp"/>-->
    <!--<add key="vTables" value="oitm,oinv,inv1,orin,rin1,opln"/>-->
    <add key="vTables" value="oitm,oinv,inv1,orin,rin1,opln,itm1,SapProveedor,oitb,oslp,OUSR,OCRG,ocrd"/>
    <!--<add key="vTables" value=" inv1, ocrd"/>-->
  </appSettings>
</configuration>